<!-- div (ng-app="gemLecture")
  h1 =current_student.name
  .span9
    p hello
  .span9
    p hello
    div ng-controller="LectureController as lecture"
    	|{{lecture.hello}} -->

<div ng-app="gemLecture">
	<div ng-controller="LectureController as lecture">
		{{lecture.hello}}
	</div>
</div>
